<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <span class="w2">Hello <%= @to.name %>, <%= @trav.name %> has submited a rating and review for you.</span><br><br>


    <span class="w3">

      Rating: <%= @rating %> out of 5.<br><br>

      Review:<br><br>
      <%= @review %><br><br>

      If <%= @trav.name %> didn't stay with you, or their review isn't accurate, just ignore it, it won't show up.<br>
      To accept the review, and review their stay with you, <a href="#">click here</a>.

    </span>
  </body>
</html>
