


<div class="container-fluid">
  <% x = 0 %>
  <% y = 0 %>
    <% @fams.each do |family| %>
      <% x += 1 %>
      <% y += 1 %>

      <% if (x % 2) == 0 %>
        <% @bkg = "background-color:rgba(143, 143, 143, 0.25);" %>
      <% else %>
        <% @bkg = "" %>
      <% end %>

      <div class="row" style="text-align:center;<%= @bkg %>">
        <div class="col-md-12">
          <% if @current_user != nil %>
            <span class="w2"><%= link_to(family.tagline, showfam_path(family), style: "color:#428BCA;weight:bold;")  %></span>
          <% else %>
            <span class="w2"><%= link_to family.tagline, "#", {data: {toggle: "modal", target: "#nouserModal"}, style: "color:#428BCA;weight:bold;"} %></span>
          <% end %>
        </div>
      </div>
      <div class="row" style="<%= @bkg %>">
        <div class="col-md-3">
            <%= image_tag("#{family.housepic.bigthumb}", class: "img-rounded", width: '100%' ) %>
        </div>
        <div class="col-md-4" style="text-align:center;">
          <span class="w3"><%= family.city %>,
          <%= family.country %><br>
          <%= family.size %> family members<br>
          <%= family.beds %> beds,
          <%= family.baths %> baths</span>
        </div>

        <div class="col-md-2" style="text-align:center;">
          <div class="stars">
          <% @v = 1 %>
          <% @rate20 = (((family.connections.average(:hoststars)) * 4).to_i) %>
          <% 20.times do %>
              <% if @rate20 == @v %>
                <% @c = ' checked="checked"' %>
              <% end %>

              <% if ((@rate20 / 4.0) % 1) == 0 %>
                <% @rate = ((@rate20 / 4).to_i) %>
              <% else %>
                <% @rate = (((@rate20).to_i) / 4.0) %>
              <% end %>

              <input class="star" type="radio" name="famrating<%= x %>" value=<%= @v %> disabled="disabled"<%= @c %>/>
              <% @v += 1 %>
              <% @c = nil %>
            <% end %>
            <% @v = 0 %>
          </div><br>
          <span class="w3">Host Rating: <%= @rate %>/5<br>(<%= family.connections.count %> reviews)</span>
        </div>

        <div class="col-md-3">

            <% if @current_user != nil %>
            <% @fam = family %>

            <div id="save_unsave<%= @fam.id %>">
              <%= render 'save_unsave' %>
            </div>
            <br><br>
              <button type="button" class="btn btn-primary btn-lg btn-block" id="connect" data-toggle="modal" data-target="#myModal<%= x %>">
                Connect!
              </button>

              <div class="modal fade" id="myModal<%= x %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div style="text-align:center;" class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <span class="modal-title w2" id="myModalLabel">Connect with this family in <%= family.country %>!</span>
                    </div>
                    <div class="modal-body">
                      <span class="w3">This family will receive an email from you that looks like this:</span><br><br>

                      <span class="w4">Subject: <%= @current_user.name %> from <%= @current_user.country %> wishes to connect!<br><br>

                      The body of the email will be whatever you enter below!<br>



                      <%= form_tag users_connect_path do %>
                        <textarea rows="10" cols="75" name="content" placeholder="Hint: Friendlyness of connection email and connection success are directly correlated!"></textarea>
                      </span><%= hidden_field_tag 'user_id', @current_user.id %>
                        <%= hidden_field_tag 'fam_id', family.id %>
                        <br>
                        <div style="width:70%;margin:auto;">
                          <%= submit_tag 'Send!', {class: "btn btn-primary btn-block btn-lg", style: "font-size:30px;"} %>
                        </div>
                      <% end %>

                    </div>
                  </div>
                </div>
              </div>

            <% else %>

            <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#nouserModal">
              Save
            </button><br>
            <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#nouserModal">
              Connect!
            </button>



            <% end %>


        </div>
      </div>

    <% end %>

    <div class="modal fade" id="nouserModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header" style="text-align:center">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <div class="modal-title w3" id="myModalLabel">Please Log In or Sign Up for "View", "Save" and "Connect" features</div>
            <div id="nouser_alert">
            </div>
          </div>
          <div class="modal-body">
            <div class="row" style="text-align:center">
              <div class="col-md-6" style="border-right:2px;">
                <span class="w3">Join Now To Start Your Adventure!</span><br><br>

                <%= form_for @user, url: {controller: "users", action: "create"}, remote: true do |f| %>

                  <div class="field">
                    <span class="w3"><%= f.label :name %></span><br>
                    <%= f.text_field :name, class: "form-control" %>
                  </div><br>

                  <div class="field">
                    <span class="w3"><%= f.label "Country of Residence" %></span><br>
                    <%= f.text_field :country, class: "form-control", id: "country-signup2", size: "42" %>
                  </div><br>

                  <div class="field">
                    <span class="w3"><%= f.label :email %></span><br>
                    <%= f.text_field :email, class: "form-control" %>
                  </div>
                    <div class="actions">
                      <%= f.hidden_field(:password, :value => @temp ) %>
                      <%= f.hidden_field(:password_confirmation, :value => @temp ) %>
                      <%= f.submit nil, id: "submit-signup", class: "hidden" %>
                    </div>

                  <%= hidden_field_tag(:temp, @temp) %>

                <% end %>
              </div>
              <div class="col-md-6">
                <span class="w3">Log In to Continue</span>
                <br><br><br><br>
                <%= form_for @user, url: {controller: "users", action: "login"}, remote: true do |f| %>

                  <div class="field">
                    <span class="w3"><%= f.label :email %></span><br>
                    <%= f.search_field :email, class: "form-control" %>
                  </div><br><br>

                  <div class="field">
                    <span class="w3"><%= f.label :password %></span><br>
                    <%= f.password_field :password, class: "form-control" %>
                  <div class="actions">
                    <%= f.submit nil, id: "submit-login", class: "hidden" %>
                  </div>

                <% end %>
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <div class="row">
              <div class="col-md-6">
                <label for="submit-signup" class="btn btn-primary btn-block btn-lg">Sign Up!</label>
              </div>
              <div class="col-md-6">
                <label for="submit-login" class="btn btn-primary btn-block btn-lg">Log In</label>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>


</div>
<div class="center">
  <%= paginate @fams %>
</div>
