Your Family:
<br><br>

  <div class="main-image">
    <img src="<%= @fam.housepic %>" alt="Placeholder" height="400" class="custom">
  </div>


  <div class="thumbnails">

  <% @fam_attachments.each do |pichold| %>

    <a href="<%= pichold.image %>">
      <%= image_tag("#{pichold.image}", height: '60', alt: "Thumbnails") %>
    </a>

  <% end %>
  </div>
  <br><br>

  <h2>Our family is located in <%= @fam.city %>, <%= @fam.country %>.</h2>
  <br><br>
  <h2>About staying here:</h2><br><br>

    <h3>Our family:</h3><br><br>

      <%= @fam.bio %>

      <h3>Our home:</h3><br><br>

      <h4>General info:</h4><br><br>

        <%= @fam.beds %> beds
        <%= @fam.baths %> baths
        <%= @fam.size %> family members<br><br>

        <h4>Smokers?</h4><br><br>

        <% if @fam.smokers == true %>
          Yes
        <% else %>
          No
        <% end %>
        <br><br>
        <h4>Traveler Privacy:</h4><br><br>

        <h4>Private bedroom?</h4><br><br>

        <% if @fam.pvtbed == true %>
          Yes!
        <% else %>
          No
        <% end %>
        <br><br>
        <h4>Private bathroom?</h4><br><br>

        <% if @fam.pvtbath = true %>
          Yes!
        <% else %>
          No
        <% end %>
        <br><br>
      <h4>Special features:</h4><br><br>

        <% @fam.features.each do |f| %>
          <%= f.upcase %>!<br>
        <% end %>
        <br><br>
    <h3>Our area:</h3><br><br>

      <h4>About life here:</h4><br><br>

      <%= @fam.lifehere %><br><br>

      <h4>Attractions:</h4><br><br>

        <%= @fam.attracts %><br><br>

        <h4>Local environment:</h4><br><br>

        <%= @fam.env %><br><br>
