
<h3>Family Setup</h3>

<%= form_for(@fam, {url: {action: "create"}, html: {multipart: "true"}}) do |f| %>

<div class="form-group">
  <%= f.label :name %><br>
  <%= f.text_field :name %>
</div>

<div class="form-group">
  <%= f.label :tagline %><br>
  <%= f.text_field :tagline %>
</div>

<div class="field">
  <%= f.label :main_house_picture %><br>
  <%= f.file_field :housepic %>
</div>
<br>
<%= f.fields_for :fam_attachments do |y| %>
   <div class="field">
     <%= y.label :more_pictures_of_your_house %><br>
     <%= y.file_field :image, :multiple => true, name: "fam_attachments[image][]" %>
   </div>
<% end %>
(Hint: select multiple files to upload by holding the "Shift" key when you click each file)<br><br>



<div class="form-group">
  <%= f.label :bedrooms %>
  <%= f.select "beds", options_for_select(1..10) %>
</div>

<div class="form-group">
  <%= f.label :bathrooms %>
  <%= f.select "baths", options_for_select(1..10) %>
</div>

<div class="form-group">
  <%= f.label :mark_cool_features_of_your_home %><br><br>
  <%= f.check_box :features, {:multiple => true}, "pool", nil %>
  <%= f.label :pool %>
  <br><br>
  <%= f.check_box :features, {:multiple => true}, "horses", nil %>
  <%= f.label :horses %>
  <br><br>
  <%= f.check_box :features, {:multiple => true}, "great view", nil %>
  <%= f.label :great_view %>
  <br><br>
  <%= f.check_box :features, {:multiple => true}, "oceanfront", nil %>
  <%= f.label :oceanfront %>


</div>


<div class="form-group">
  <%= f.label :does_your_family_have_smokers? %><br />
  <%= f.label :smokers, "Yes", :value => "true"  %>
  <%= f.radio_button :smokers, true %>
  <%= f.label :smokers, "No", :value => "false" %>
  <%= f.radio_button :smokers, false, :checked => true %>
</div>

<div class="form-group">
  <%= f.label :will_visitor_have_private_bedroom? %><br />
  <%= f.label :pvtbed, "Yes", :value => "true"  %>
  <%= f.radio_button :pvtbed, true %>
  <%= f.label :pvtbed, "No", :value => "false" %>
  <%= f.radio_button :pvtbed, false, :checked => true %>
</div>

<div class="form-group">
  <%= f.label :will_visitor_have_private_bathroom? %><br />
  <%= f.label :pvtbath, "Yes", :value => "true"  %>
  <%= f.radio_button :pvtbath, true %>
  <%= f.label :pvtbath, "No", :value => "false" %>
  <%= f.radio_button :pvtbath, false, :checked => true %>
</div>

<div class="form-group">
  <%= label_tag "Family Life" %><br>
  <textarea rows="10" cols="75" name="bio" placeholder="Write a little bit about your family, and what it is like living with them!"></textarea>
</div>

<div class="form-group">
  <%= label_tag "Life In Your Area" %><br>
  <textarea rows="10" cols="75" name="lifehere" placeholder="Write a little bit about life in your city/town."></textarea>
</div>

<div class="form-group">
  <%= label_tag "Local Attractions" %><br>
  <textarea rows="10" cols="75" name="attracts" placeholder="Write about a few cool attractions in your area."></textarea>
</div>



<div class="actions">
  <%= f.submit %>
</div>

<% end %>
