
<% @v = 1 %>
<div class="center"><br>
<span class="w2"><%= @fam.tagline %></span><br>
<div class="row" style="width:50%;margin:auto;border:none;">
  <div class="col-md-4">
    <div id="save_unsave<%= @fam.id %>">
      <%= render 'save_unsave' %>
    </div>
  </div>
  <div class="col-md-4" style="padding-top:5px;">
    <div class="stars">
    <% 20.times do %>
        <% if @rate20 == @v %>
          <% @c = ' checked="checked"' %>
        <% end %>

        <% if (((@v) / 4.0 ) % 1) == 0 %>
          <% @t = (((@v) / 4.0 ).to_i) %>
        <% else %>
          <% @t = ((@v) / 4.0 ) %>
        <% end %>

        <input class="star" type="radio" name="famrating" value=<%= @t %> disabled="disabled"<%= @c %>/>
        <% @v += 1 %>
        <% @c = nil %>
      <% end %>
    </div>

  </div>
  <div class="col-md-4">
    <button type="button" class="btn btn-primary btn-block btn-lg" data-toggle="modal" data-target="#myModal">
      Connect!
    </button>
  </div>
</div>
<span class="w3">Host Rating: <%= @rate5 %>/5 (<%= @hosteds.count %> reviews)</span>

<br>


</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div style="text-align:center;" class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <span class="modal-title w2" id="myModalLabel">Connect with this family in <%= @fam.country %>!</span>
      </div>
      <div class="modal-body">
        <span class="w3">This family will receive an email from you that looks like this:</span><br><br>

        <span class="w4">Subject: <%= @current_user.name %> from <%= @current_user.country %> wishes to connect!<br><br>

        The body of the email will be whatever you enter below!<br>



        <%= form_tag users_connect_path do %>
          <textarea rows="10" cols="75" name="content" placeholder="Hint: Friendlyness of connection email and connection success are directly correlated!"></textarea>
        </span><%= hidden_field_tag 'user_id', @current_user.id %>
          <%= hidden_field_tag 'fam_id', @fam.id %>
          <br>
          <div style="width:70%;margin:auto;">
            <%= submit_tag 'Send!', {class: "btn btn-primary btn-block btn-lg", style: "font-size:30px;"} %>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</div>
<div class="container-gal">
  <div class="main-image">
    <img src="<%= @fam.housepic %>" alt="Placeholder" height="400" class="house-main">
  </div>

  <div class="thumbnails">
    <a href="<%= @fam.housepic %>">
      <%= image_tag("#{@fam.housepic.smthumb}", alt: "Thumbnails") %>
    </a>
  <% @fam_attachments.each do |pichold| %>
    <a href="<%= pichold.image %>">
      <%= image_tag("#{pichold.image.smthumb}", alt: "Thumbnails") %>
    </a>
  <% end %>
  </div>
</div>
<br>

<div class="container-fluid">

  <div class="center">
    <span class="w2">Our family is located in <%= @fam.city %>, <%= @fam.country %>.</span>

    <br><br>

    <span class="w1">About staying here</span>
    </div>

    <div class="row center" style="background-color:rgba(189, 189, 189, 1);">
      <span class="w2">Our Family</span><br>

      <span class="w3"><%= @fam.bio %></span>
    </div>
  </div>


    <div class="row">
      <div class="col-md-6 center">
      <span class="w1">Our Home</span><br><br>

      <span class="w2">General Info</span><br>
      <div class="w3"><%= @fam.size %> family members<br>
      <%= @fam.beds %> beds,
      <%= @fam.baths %> baths<br>


      Smokers?

      <% if @fam.smokers == true %>
      Yes
      <% else %>
      No
      <% end %></div><br>

      <span class="w2">Traveler Privacy</span><br>

      <div class="w3">

        Private bedroom?<br>

        <% if @fam.pvtbed == true %>
        Yes!
        <% else %>
        No
        <% end %>
        <br>
        Private bathroom?<br>

        <% if @fam.pvtbath = true %>
        Yes!
        <% else %>
        No
        <% end %>
      </div><br>
        <span class="w2">Special Features</span><br>

        <% if @fam.features != nil %>
          <% @fam.features.each do |f| %>
          <span class="w4"><%= f.upcase %>!</span><br>
          <% end %>
        <% else %>
          <span class="w4">None added</span>
        <% end %>
        <br><br>
    </div>
    <div class="col-md-6">
      <div class="center"><span class="w1">Our Area</span><br><br>

        <span class="w2">About Life Here</span><br><br>

        <span class="w3"><%= @fam.lifehere %></span><br><br>

        <span class="w2">Attractions</span><br><br>

        <span class="w3"><%= @fam.attracts %></span><br><br>

        <span class="w2">Local Environment</span><br><br>

        <span class="w3"><%= @fam.env %></span><br><br>
      </div>
    </div>
  </div>
</div>




<div class="container-fluid">

  <div class="row center">
    <span class="w2">This family's travelers</span><br>

    <% @fam.travelers.each do |trav| %>

      <div class="col-md-4">
        <span class="w2">Age: <%= trav.age %></span><br>
        <%= image_tag("#{trav.pic}", width: '300') %><br><br>
        <span class="w3"><%= trav.tagline %></span><br><br>
        <%= link_to "View Profile", showtrav_path(trav), class: "btn btn-primary btn-lg" %>

      </div>






    <% end %>
  </div>
</div>

<div class="container-fluid">

  <div class="row center">

    <span class="w2">Previously Hosted</span><br><br>
    <% @x = 1 %>
    <% @hosteds.each do |trav| %>
    <% @v = 1 %>
    <% if (((trav.connections.find_by(family_id: @fam.id).hoststars)) % 1) == 0 %>
      <% @rate = (((trav.connections.find_by(family_id: @fam.id).hoststars)).to_i) %>
    <% else %>
      <% @rate = ((trav.connections.find_by(family_id: @fam.id).hoststars)) %>
    <% end %>
      <div class="col-md-4">
        <span class="w2">Age: <%= trav.age %></span><br>
        <%= image_tag("#{trav.pic}", width: '300') %><br><br>
        <span class="w4"><%= trav.connections.find_by(family_id: @fam.id).hostreview %></span><br><br>
        <span class="w4">Host rating: <%= @rate %>/5</span>
        <br><br>

        <div class="stars">
        <% 20.times do %>
          <% if ((trav.connections.find_by(family_id: @fam.id).hoststars) * 4) == @v %>
            <% @c = ' checked="checked"' %>
          <% end %>

          <input class="star" type="radio" name="famrating<%= @x %>" value=<%= @v %> disabled="disabled"<%= @c %>/>
          <% @v += 1 %>
          <% @c = nil %>
        <% end %>
      </div>

        <br><br>
        <%= link_to "View Profile", showtrav_path(trav), class: "btn btn-primary btn-lg" %>

      </div>



      <% @x += 1 %>



    <% end %>
  </div>
</div>
