<div class="setup" style="width:50%;">


<span class="w2">Enter your new password below</span>

<span class="w3">
  <%= form_for @user, url: {action: "changepwd"} do |f| %>

  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password, class:'form-control', style: 'width:225px;margin:auto;' %>
  </div><br>

  <div class="field">
    <%= f.label :confirm %><br>
    <%= f.password_field :password_confirmation, class:'form-control', style: 'width:225px;margin:auto;' %>
  </div>
<br>
<div class="actions" style="width:40%;margin:auto;">
  <%= f.submit "Change Password", class: "btn btn-primary btn-lg" %>
</div>
</span>
<% end %>

</div>
