<div class="setup" style="width:50%;">
<span class="w2">Welcome to Arrange an Exchange!</span>
<br><br>
  <div class="w3">Congratulations on your private invitation!<br>
    Enter your sign-up info below to get started.<br><br>
    <div class="row">

    <%= form_for @user, url: {controller: "users", action: "create"} do |f| %>
    <div class="field">
      <%= f.label :country %><br>
      <%= f.text_field :country, id: "cunt-signup", class: 'form-control', style: 'background-color:rgba(189, 189, 189, 0);' %>
    </div><br>
    <div class="col-md-6">
      <div class="field">
        <%= f.label :name %><br>
        <%= f.text_field :name, class: "form-control", style: 'margin:auto;background-color:rgba(189, 189, 189, 0);' %>
      </div><br>
      <div class="field">
        <%= f.label :email %><br>
        <%= f.text_field :email, class: "form-control", style: 'margin:auto;background-color:rgba(189, 189, 189, 0);' %>
      </div><br>
    </div>
    <div class="col-md-6">
      <div class="field">
        <%= f.label :password %><br>
        <%= f.password_field :password, style: 'margin:auto;background-color:rgba(189, 189, 189, 0);', class: "form-control" %>
      </div><br>
      <div class="field">
        <%= f.label :confirm_password %><br>
        <%= f.password_field :password_confirmation, style: 'margin:auto;background-color:rgba(189, 189, 189, 0);', class: "form-control" %>
      </div><br>
    </div>
      <div class="actions" style="width:40%;margin:auto;background-color:rgba(189, 189, 189, 0);">
        <%= f.submit "Sign Up!", class: "btn btn-primary btn-lg btn-block" %>
      </div>
    </div>
      <br><br>
    <% end %>
  </div>
</div>
