

<div class="container-fluid">
  <% x = 0 %>
  <% y = 0 %>
  <% @z = 1 %>

  <div class="row" style="background-color:rgba(143, 143, 143, 0.25);">
    <div class="col-md-12" style="text-align:center;">
      <w2>My Saved Families</w2>
    </div>
  </div>


    <% @fams.each do |family| %>
      <% x += 1 %>
      <% y += 1 %>
      <% if (x % 2) == 0 %>
        <% @bkg = "background-color:rgba(143, 143, 143, 0.25);" %>
      <% else %>
        <% @bkg = "" %>
      <% end %>

      <div class="row" style="text-align:center;<%= @bkg %>";>

        <div class="col-md-2" style="height:100%">
          <div class="row" style="height:100%">
            <div class="col-md-12" style="height:100%">
              <%= image_tag("#{family.housepic.bigthumb}", class: "img-rounded", id: "thumb-lg", width: '100%' ) %>
              
              <button type="button" class="btn btn-primary btn-lg btn-block" id="connect" data-toggle="modal" data-target="#review<%= x %>">
                I stayed here!
              </button>

            </div>
          </div>
        </div>
        <div class="col-md-10">
          <% if @current_user != nil %>
            <w2><%= link_to(family.tagline, showfam_path(family), style: "color:#428BCA;weight:bold;")  %></w2>
          <% else %>
            <w2><%= link_to family.tagline, "#", {data: {toggle: "modal", target: "#nouserModal"}, style: "color:#428BCA;weight:bold;"} %></w2>
          <% end %>
          <div class="row"><br>
            <div class="col-md-4">
              <w3><%= family.city %>,
              <%= family.country %><br>
              <%= family.size %> family members<br>
              <%= family.beds %> beds,
              <%= family.baths %> baths</w3>
            </div>

            <div class="col-md-4" style="text-align:center;">
              <div class="stars">
              <% @v = 1 %>
              <% @rate20 = ((family.hosteds.average(:hoststars) * 4).to_i) %>
              <% 20.times do %>
                  <% if @rate20 == @v %>
                    <% @c = ' checked="checked"' %>
                  <% end %>

                  <% if ((@rate20 / 4.0) % 1) == 0 %>
                    <% @rate = ((@rate20 / 4).to_i) %>
                  <% else %>
                    <% @rate = (((@rate20).to_i) / 4.0) %>
                  <% end %>

                  <input class="star" type="radio" name="famrating<%= x %>" value=<%= @v %> disabled="disabled"<%= @c %>/>
                  <% @v += 1 %>
                  <% @c = nil %>
                <% end %>
                <% @v = 0 %>
              </div><br>
              <w3>Host Rating: <%= @rate %>/5<br>(<%= family.hosteds.count %> reviews)</w3>
            </div>

            <div class="col-md-4">

                <% @fam = family %>

                <div id="save_unsave<%= @fam.id %>">
                  <%= render 'save_unsave' %>
                </div>
                <br>
                  <button type="button" class="btn btn-primary btn-lg btn-block" id="connect" data-toggle="modal" data-target="#myModal<%= x %>">
                    Connect!
                  </button>

            </div>
          </div>
        </div>





      <div class="modal fade" id="myModal<%= x %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div style="text-align:center;" class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <w2 class="modal-title" id="myModalLabel">Connect with this family in <%= family.country %>!</w2>
            </div>
            <div class="modal-body">
              <w3>This family will receive an email from you that looks like this:</w3><br><br>

              <w4>Subject: <%= @current_user.name %> from <%= @current_user.country %> wishes to connect!<br><br>

              The body of the email will be whatever you enter below!<br>



              <%= form_tag users_connect_path do %>
                <textarea rows="10" cols="75" name="content" placeholder="Hint: Friendlyness of connection email and connection success are directly correlated!"></textarea>
              </w4><%= hidden_field_tag 'user_id', @current_user.id %>
                <%= hidden_field_tag 'fam_id', family.id %>
                <br>
                <div style="width:70%;margin:auto;">
                  <%= submit_tag 'Send!', {class: "btn btn-primary btn-block btn-lg", style: "font-size:30px;"} %>
                </div>
              <% end %>

            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="review<%= x %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div style="text-align:center;" class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <w2 class="modal-title" id="myModalLabel">Stayed here? Review them!</w2>
            </div>
            <div class="modal-body">
              <w3>This family will receive a review from you that they must approve.</w3><br><br>

              <%= form_tag users_host_review_path do %>

                <w3 style="text-align:center;">Who traveled here?</w3><br>

                <w3><select name="trav_id" id="trav_id"></w3>
                <div class="row">
                  <% @current_user.travelers.each do |t| %>
                    <div style="display:inline-block; text-align:center;">
                      <option value="<%= t.id %>"><%= t.name %></option>
                      <br>
                      <%= t.pic %>
                    </div>
                  <% end %>
                </select>
                </div>
                <div style="text-align:center;width:30%;margin:auto;display:block;">
                <div class="stars" style="width:100%;margin:auto;padding:0px;">
                <% @v = 1 %>
                <% @rate20 = (((family.hosteds.average(:hoststars).to_f) * 4).to_i) %>
                <% 20.times do %>
                    <% if @rate20 == @v %>
                      <% @c = ' checked="checked"' %>
                    <% end %>

                    <% if (((@v) / 4.0 ) % 1) == 0 %>
                      <% @t = (((@v) / 4.0 ).to_i) %>
                    <% else %>
                      <% @t = ((@v) / 4.0 ) %>
                    <% end %>

                    <input class="hover-star<%= @z %>" type="radio" name="ratefam" value=<%= @t %> title="<%= @t %>"<%= @c %>/>
                    <% @v += 1 %>
                    <% @c = nil %>
                  <% end %>
                  <% @z += 1 %>

                  <% @v = 0 %>
                </div><br>
              </div>
                <div style="text-align:center;width:100%">
                  <w3 id="clicked"><span id="hover-rate">Select a rating</span></w3><w3> out of 5</w3>
                </div>


                <textarea class="form-control" style="width:95%;margin:auto;" rows="10" cols="75" name="review" placeholder="Hint: Be honest :) but host families must approve all reviews and ratings."></textarea>
                <%= hidden_field_tag 'user_id', @current_user.id %>
                <%= hidden_field_tag 'fam_id', family.id %>
                <br>
                <div style="width:70%;margin:auto;">
                  <%= submit_tag 'Send review!', {class: "btn btn-primary btn-block btn-lg", style: "font-size:30px;"} %>
                </div><br>
              <% end %>

            </div>
          </div>
        </div>
      </div>

    <% end %>

  </div>


</div>

<div class="center">
  <%= paginate @fams %>
</div>
