
My Saved Families:<br><br>

<div class="container-fluid">
    <% @fams.each do |family| %>
      <div class="row">
        <div class="col-md-3"><%= image_tag("#{family.housepic}", width: '100%' ) %></div>
        <div class="col-md-9">
          <%= link_to(family.tagline, showfam_path(family))  %><br>
          <%= family.city %>,
          <%= family.country %>

          <div class="right-align">

            <%= form_tag users_unsavefam_path do %>
              <%= hidden_field_tag(:family_id, family.id) %>
              <%= submit_tag("Unsave") %>
            <% end %>

            <a class="btn btn-default" href="#" role="button">Connect</a>



          </div>

        </div>
      </div>
    <% end %>
</div>
