Join Now To Start Your Adventure!

<%= form_for @user do |f| %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label "Country of Residence" %><br>
    <%= f.text_field :country %>
  </div>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>


  <div class="actions">
    <%= f.submit %>
    <%= f.hidden_field(:password, :value => @temp ) %>
    <%= f.hidden_field(:password_confirmation, :value => @temp ) %>

  </div>

  <%= hidden_field_tag(:temp, @temp) %>



<% end %>
