<div class="container-fluid">
  <div class="welcome-div" style="text-align:center; vertical-align:middle">

    <%= form_tag(families_home_path, method: "get") do %>

      <span class="w1"><%= label_tag(:q, "Where do you want to go?") %></span><br>
      <%= text_field_tag(:q, nil, {id: "country-input", size: "30"}) %><br><br>
      <span class="w2"><%= label_tag(:s, "How old are you?") %></span><span class="w2"><br><span id="ageSliderVal">18</span> years old<br></span>
      <span class="w4">13</span> <%= text_field_tag(:s, 18, {id: 'age', type: 'text',
                       data: {'slider-id' => 'ageSlider',
                              'slider-min' => '13',
                              'slider-max' => '28',
                              'slider-tooltip' => 'hide',
                              'slider-step' => '1',
                              'slider-value' => '18' }}) %> <span class="w4">28</span><br><br>
      <%= submit_tag("Search", class: "btn btn-primary btn-lg") %>
    <% end %>

  </div>
</div>
