<% @travs.each do |trav| %>

<div class="center" style="width:70%;margin:auto;">
<span class="w2">Age: <%= trav.age %></span>
<br>
<%=image_tag trav.pic, style: "height:300px;margin:auto;" %>
<br><br>
<a href="<%=updatetrav_path(trav) %>" class="btn btn-default btn-lg" style="width:100px;margin:auto;">Edit</a>

<br>
<span class="w1">About Me</span><br><br>
<span class="w2"><%= trav.tagline %></span>
<br><br>

<span class="w3"><%= trav.bio %></span>
</div>
<br><br>
<% end %>
