<div class="container-fluid">
<div class="setup">
<w2>Traveler Setup</w2>

<div class="row" style="border:none;">
  <div class="col-md-6">
    <%= form_for @trav, url: {action: "create"} do |f| %>

    <div class="form-group">
      <w3><%= f.label :name %></w3><br>
      <%= f.text_field :name %>
    </div>

    <div class="form-group">
      <w3><%= f.label :tagline %></w3><br>
      <%= f.text_field :tagline, placeholder: "I want so see the world!" %>
    </div>

  </div>
  <div class="col-md-6">

    <div class="form-group">
      <w3><%= f.label :age %></w3><br>
      <w3><%= f.select :age, options_for_select(13..28) %></w3>
    </div><br>
    <div style="width:200px;margin-left:auto;margin-right:auto;">
    <div class="field">
      <w3><%= f.label :profile_picture %></w3><br>
      <%= f.file_field :pic %>
    </div>
  </div>
  </div>
</div>


<br>
<div class="form-group">
  <w3><%= label_tag "Traveler's Bio" %></w3>
  <textarea class="form-control" style="text-align:center;font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif;font-size:18px;" rows="10" cols="75" name="bio" placeholder="Write a little bit about yourself or your child.

    What would you want to know about a child before inviting him/her into your home?"></textarea></w3>
</div>

<div class="actions">
  <%= f.submit class: "btn btn-primary btn-lg" %>
</div>

<% end %>
</div>
</div>
