<!DOCTYPE html>
<html>
<head>
  <title>AAE</title>
  <%= javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <% if current_page?(root_url) %>
    <%= stylesheet_link_tag 'background' %>
  <% end %>

  <% if action_name == 'firstloginpage' %>
    <%= stylesheet_link_tag 'background' %>
  <% end %>

  <% if action_name == 'firsts' %>
    <%= stylesheet_link_tag 'background' %>
  <% end %>

  <% if action_name == 'thanks' %>
    <%= stylesheet_link_tag 'background' %>
  <% end %>

  <% if action_name == 'check_email' %>
    <%= stylesheet_link_tag 'background' %>
  <% end %>

  <% if action_name == 'changepwdpage' %>
    <%= stylesheet_link_tag 'background' %>
  <% end %>

  <%= favicon_link_tag 'favicon.png' %>


</head>
<body>

<%= render "navbar/navbars" %>



<% if action_name == 'mysaves' %>

<style>
body { padding-top:64px; }
</style>

<% end %>

<% if action_name == 'firsts' %>

<style>
body { padding-top:64px; }
</style>

<% end %>



<% if @current_user == nil %>

  <div class="container-fluid">
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <div class="modal-title w1" id="myModalLabel">Welcome back!</div>
            <div id="login_alert">
            </div>
          </div>
          <div class="modal-body">
            <span class="w2">Log in, and find your perfect host.</span><br><br>

            <%= form_for @user, url: {controller: "users", action: "login"}, remote: true do |f| %>
              <div class="field">
                <span class="w3"><%= f.label :email %></span><br>
                <%= f.search_field :email, class: "form-control" %>
              </div><br>
              <div class="field">
                <span class="w3"><%= f.label :password %></span><br>
                <%= f.password_field :password, class: "form-control" %>
              </div>
          </div>
          <div class="modal-footer">
            <div class="actions">
              <%= f.submit "Login", class: "btn btn-primary btn-lg btn-block" %>
            </div>
          </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <div class="modal-title w2" id="myModalLabel">Join Now To Start Your Adventure!</div>
            <div id="signup_alert">
            </div>
          </div>
          <div class="modal-body">


            <%= form_for @user, url: {controller: "users", action: "create"}, remote: true do |f| %>

              <div class="field">
                <span class="w3"><%= f.label :name %></span><br>
                <%= f.text_field :name, class: "form-control" %>
              </div><br>

              <div class="field">
                <span class="w3"><%= f.label "Country of Residence" %></span><br>
                <%= f.text_field :country, class: "form-control", id: "country-signup", size: "42" %>
              </div><br>

              <div class="field">
                <span class="w3"><%= f.label :email %></span><br>
                <%= f.text_field :email, class: "form-control" %>
              </div><br>


            <!--  <%= hidden_field_tag(:temp, @temp) %> -->

          </div>
          <div class="modal-footer">
            <div class="actions">
              <%= f.submit "Sign Up!", class: "btn btn-primary btn-lg btn-block" %>
              <%= f.hidden_field(:password, :value => session[:temp] ) %>
              <%= f.hidden_field(:password_confirmation, :value => session[:temp] ) %>
            </div>
            <% end %>

          </div>
        </div>
      </div>
    </div>
  </div>



<% end %>

<% if notice != nil %>
  <div class="alert alert-success alert-dismissable" id="notice" role="alert">
    <%= notice %>
  </div>
<% end %>
<% @acts = ['changepwdpage', 'account', 'firsts'] %>
<% if alert != nil && @acts.include?(action_name) %>
  <div class="alert alert-danger alert-dismissable" id="alert" role="alert">
    <%= alert %>
  </div>
<% end %>



<%= yield %>

</body>

<script type="text/javascript">

var countries =
["Afghanistan", "Albania", "Algeria", "American Samoa", "Andorra", "Angola", "Anguilla", "Antarctica", "Antigua and Barbuda", "Argentina", "Armenia", "Aruba", "Australia", "Austria", "Azerbaijan", "Bahamas", "Bahrain", "Bangladesh", "Barbados",
 "Belarus", "Belgium", "Belize", "Benin", "Bermuda", "Bhutan", "Bolivia", "Bosnia and Herzegowina", "Botswana", "Bouvet Island", "Brazil", "British Indian Ocean Territory", "Brunei Darussalam", "Bulgaria", "Burkina Faso", "Burundi", "Cambodia", "Cameroon", "Canada", "Cape Verde",
 "Cayman Islands", "Central African Republic", "Chad", "Chile", "China", "Christmas Island", "Cocos (Keeling) Islands", "Colombia", "Comoros", "Congo", "Congo, the Democratic Republic of the", "Cook Islands", "Costa Rica", "Cote d'Ivoire", "Croatia (Hrvatska)", "Cuba", "Cyprus", "Czech Republic", "Denmark", "Djibouti",
 "Dominica", "Dominican Republic", "East Timor", "Ecuador", "Egypt", "El Salvador", "Equatorial Guinea", "Eritrea", "Estonia", "Ethiopia", "Falkland Islands (Malvinas)", "Faroe Islands", "Fiji", "Finland", "France", "France Metropolitan", "French Guiana", "French Polynesia", "French Southern Territories", "Gabon",
 "Gambia", "Georgia", "Germany", "Ghana", "Gibraltar", "Greece", "Greenland", "Grenada", "Guadeloupe", "Guam", "Guatemala", "Guinea", "Guinea-Bissau", "Guyana", "Haiti", "Heard and Mc Donald Islands", "Holy See (Vatican City State)", "Honduras", "Hong Kong", "Hungary",
 "Iceland", "India", "Indonesia", "Iran (Islamic Republic of)", "Iraq", "Ireland", "Israel", "Italy", "Jamaica", "Japan", "Jordan", "Kazakhstan", "Kenya", "Kiribati", "Korea, Democratic People's Republic of", "Korea, Republic of", "Kuwait", "Kyrgyzstan", "Lao, People's Democratic Republic", "Latvia",
 "Lebanon", "Lesotho", "Liberia", "Libyan Arab Jamahiriya", "Liechtenstein", "Lithuania", "Luxembourg", "Macau", "Macedonia, The Former Yugoslav Republic of", "Madagascar", "Malawi", "Malaysia", "Maldives", "Mali", "Malta", "Marshall Islands", "Martinique", "Mauritania", "Mauritius", "Mayotte",
 "Mexico", "Micronesia, Federated States of", "Moldova, Republic of", "Monaco", "Mongolia", "Montserrat", "Morocco", "Mozambique", "Myanmar", "Namibia", "Nauru", "Nepal", "Netherlands", "Netherlands Antilles", "New Caledonia", "New Zealand", "Nicaragua", "Niger", "Nigeria", "Niue",
 "Norfolk Island", "Northern Mariana Islands", "Norway", "Oman", "Pakistan", "Palau", "Panama", "Papua New Guinea", "Paraguay", "Peru", "Philippines", "Pitcairn", "Poland", "Portugal", "Puerto Rico", "Qatar", "Reunion", "Romania", "Russian Federation", "Rwanda",
 "Saint Kitts and Nevis", "Saint Lucia", "Saint Vincent and the Grenadines", "Samoa", "San Marino", "Sao Tome and Principe", "Saudi Arabia", "Senegal", "Seychelles", "Sierra Leone", "Singapore", "Slovakia (Slovak Republic)", "Slovenia", "Solomon Islands", "Somalia", "South Africa", "South Georgia and the South Sandwich Islands", "Spain", "Sri Lanka", "St. Helena",
 "St. Pierre and Miquelon", "Sudan", "Suriname", "Svalbard and Jan Mayen Islands", "Swaziland", "Sweden", "Switzerland", "Syrian Arab Republic", "Taiwan, Province of China", "Tajikistan", "Tanzania, United Republic of", "Thailand", "Togo", "Tokelau", "Tonga", "Trinidad and Tobago", "Tunisia", "Turkey", "Turkmenistan", "Turks and Caicos Islands",
 "Tuvalu", "Uganda", "Ukraine", "United Arab Emirates", "United Kingdom", "United States", "United States Minor Outlying Islands", "Uruguay", "Uzbekistan", "Vanuatu", "Venezuela", "Vietnam", "Virgin Islands (British)", "Virgin Islands (U.S.)", "Wallis and Futuna Islands", "Western Sahara", "Yemen", "Yugoslavia", "Zambia", "Zimbabwe"]

;

</script>

<script type="text/javascript">

var signupcountries =
["Afghanistan", "Albania", "Algeria", "American Samoa", "Andorra", "Angola", "Anguilla", "Antarctica", "Antigua and Barbuda", "Argentina", "Armenia", "Aruba", "Australia", "Austria", "Azerbaijan", "Bahamas", "Bahrain", "Bangladesh", "Barbados",
 "Belarus", "Belgium", "Belize", "Benin", "Bermuda", "Bhutan", "Bolivia", "Bosnia and Herzegowina", "Botswana", "Bouvet Island", "Brazil", "British Indian Ocean Territory", "Brunei Darussalam", "Bulgaria", "Burkina Faso", "Burundi", "Cambodia", "Cameroon", "Canada", "Cape Verde",
 "Cayman Islands", "Central African Republic", "Chad", "Chile", "China", "Christmas Island", "Cocos (Keeling) Islands", "Colombia", "Comoros", "Congo", "Congo, the Democratic Republic of the", "Cook Islands", "Costa Rica", "Cote d'Ivoire", "Croatia (Hrvatska)", "Cuba", "Cyprus", "Czech Republic", "Denmark", "Djibouti",
 "Dominica", "Dominican Republic", "East Timor", "Ecuador", "Egypt", "El Salvador", "Equatorial Guinea", "Eritrea", "Estonia", "Ethiopia", "Falkland Islands (Malvinas)", "Faroe Islands", "Fiji", "Finland", "France", "France Metropolitan", "French Guiana", "French Polynesia", "French Southern Territories", "Gabon",
 "Gambia", "Georgia", "Germany", "Ghana", "Gibraltar", "Greece", "Greenland", "Grenada", "Guadeloupe", "Guam", "Guatemala", "Guinea", "Guinea-Bissau", "Guyana", "Haiti", "Heard and Mc Donald Islands", "Holy See (Vatican City State)", "Honduras", "Hong Kong", "Hungary",
 "Iceland", "India", "Indonesia", "Iran (Islamic Republic of)", "Iraq", "Ireland", "Israel", "Italy", "Jamaica", "Japan", "Jordan", "Kazakhstan", "Kenya", "Kiribati", "Korea, Democratic People's Republic of", "Korea, Republic of", "Kuwait", "Kyrgyzstan", "Lao, People's Democratic Republic", "Latvia",
 "Lebanon", "Lesotho", "Liberia", "Libyan Arab Jamahiriya", "Liechtenstein", "Lithuania", "Luxembourg", "Macau", "Macedonia, The Former Yugoslav Republic of", "Madagascar", "Malawi", "Malaysia", "Maldives", "Mali", "Malta", "Marshall Islands", "Martinique", "Mauritania", "Mauritius", "Mayotte",
 "Mexico", "Micronesia, Federated States of", "Moldova, Republic of", "Monaco", "Mongolia", "Montserrat", "Morocco", "Mozambique", "Myanmar", "Namibia", "Nauru", "Nepal", "Netherlands", "Netherlands Antilles", "New Caledonia", "New Zealand", "Nicaragua", "Niger", "Nigeria", "Niue",
 "Norfolk Island", "Northern Mariana Islands", "Norway", "Oman", "Pakistan", "Palau", "Panama", "Papua New Guinea", "Paraguay", "Peru", "Philippines", "Pitcairn", "Poland", "Portugal", "Puerto Rico", "Qatar", "Reunion", "Romania", "Russian Federation", "Rwanda",
 "Saint Kitts and Nevis", "Saint Lucia", "Saint Vincent and the Grenadines", "Samoa", "San Marino", "Sao Tome and Principe", "Saudi Arabia", "Senegal", "Seychelles", "Sierra Leone", "Singapore", "Slovakia (Slovak Republic)", "Slovenia", "Solomon Islands", "Somalia", "South Africa", "South Georgia and the South Sandwich Islands", "Spain", "Sri Lanka", "St. Helena",
 "St. Pierre and Miquelon", "Sudan", "Suriname", "Svalbard and Jan Mayen Islands", "Swaziland", "Sweden", "Switzerland", "Syrian Arab Republic", "Taiwan, Province of China", "Tajikistan", "Tanzania, United Republic of", "Thailand", "Togo", "Tokelau", "Tonga", "Trinidad and Tobago", "Tunisia", "Turkey", "Turkmenistan", "Turks and Caicos Islands",
 "Tuvalu", "Uganda", "Ukraine", "United Arab Emirates", "United Kingdom", "United States", "United States Minor Outlying Islands", "Uruguay", "Uzbekistan", "Vanuatu", "Venezuela", "Vietnam", "Virgin Islands (British)", "Virgin Islands (U.S.)", "Wallis and Futuna Islands", "Western Sahara", "Yemen", "Yugoslavia", "Zambia", "Zimbabwe"]

;

</script>




  <%= stylesheet_link_tag "jquery.autocomplete.css" %>
  <%= javascript_include_tag "jquery.autocomplete.js" %>
  <%= javascript_include_tag "autocomp.js" %>
  <%= javascript_include_tag "jquery.rating.js" %>
  <%= javascript_include_tag "centermodals.js" %>
  <%= stylesheet_link_tag "jquery.rating" %>



<script>
$(document).ready(function () {
  $('#myModal').on('shown.bs.modal', function () {
    $('#myInput').focus()
  });
})
</script>

<script>
$(document).ready(function () {
  $("#notice").delay(3000).slideUp(200, function() {
      $(this).alert('close');
  });
})

</script>

<script>
$(document).ready(function () {
  $("#alert").delay(3000).slideUp(200, function() {
      $(this).alert('close');
  });
})

</script>


<script>
$(function(){
  $('.hover-star1').rating({
    focus: function(value, link){
    var tip = $('#hover-rate');
    tip[0].data = tip[0].data || tip.html();
    tip.html(link.title || 'value: '+value);
    },
    callback: function(element,link){
    var tip = $('#clicked');
    tip[0].data = tip[0].data || tip.html();
    tip.html(link.title || 'value: '+value);
    },
    blur: function(value, link){
    var tip = $('#hover-rate');
    $('#hover-rate').html(tip[0].data || '');
    }
  });
});

</script>

<script>
$(function(){
  $('.hover-star2').rating({
    focus: function(value, link){
    var tip = $('#hover-rate');
    tip[0].data = tip[0].data || tip.html();
    tip.html(link.title || 'value: '+value);
    },
    callback: function(element,link){
    var tip = $('#clicked');
    tip[0].data = tip[0].data || tip.html();
    tip.html(link.title || 'value: '+value);
    },
    blur: function(value, link){
    var tip = $('#hover-rate');
    $('#hover-rate').html(tip[0].data || '');
    }
  });
});

</script>
<script>
$(function(){
  $('.hover-star3').rating({
    focus: function(value, link){
    var tip = $('#hover-rate');
    tip[0].data = tip[0].data || tip.html();
    tip.html(link.title || 'value: '+value);
    },
    callback: function(element,link){
    var tip = $('#clicked');
    tip[0].data = tip[0].data || tip.html();
    tip.html(link.title || 'value: '+value);
    },
    blur: function(value, link){
    var tip = $('#hover-rate');
    $('#hover-rate').html(tip[0].data || '');
    }
  });
});

</script>
<script>
$(function(){
  $('.hover-star4').rating({
    focus: function(value, link){
    var tip = $('#hover-rate');
    tip[0].data = tip[0].data || tip.html();
    tip.html(link.title || 'value: '+value);
    },
    callback: function(element,link){
    var tip = $('#clicked');
    tip[0].data = tip[0].data || tip.html();
    tip.html(link.title || 'value: '+value);
    },
    blur: function(value, link){
    var tip = $('#hover-rate');
    $('#hover-rate').html(tip[0].data || '');
    }
  });
});

</script>
<script>
$(function(){
  $('.hover-star5').rating({
    focus: function(value, link){
    var tip = $('#hover-rate');
    tip[0].data = tip[0].data || tip.html();
    tip.html(link.title || 'value: '+value);
    },
    callback: function(element,link){
    var tip = $('#clicked');
    tip[0].data = tip[0].data || tip.html();
    tip.html(link.title || 'value: '+value);
    },
    blur: function(value, link){
    var tip = $('#hover-rate');
    $('#hover-rate').html(tip[0].data || '');
    }
  });
});

</script>
<script>
$(function(){
  $('.hover-star6').rating({
    focus: function(value, link){
    var tip = $('#hover-rate');
    tip[0].data = tip[0].data || tip.html();
    tip.html(link.title || 'value: '+value);
    },
    callback: function(element,link){
    var tip = $('#clicked');
    tip[0].data = tip[0].data || tip.html();
    tip.html(link.title || 'value: '+value);
    },
    blur: function(value, link){
    var tip = $('#hover-rate');
    $('#hover-rate').html(tip[0].data || '');
    }
  });
});

</script>
<script>
$(function(){
  $('.hover-star7').rating({
    focus: function(value, link){
    var tip = $('#hover-rate');
    tip[0].data = tip[0].data || tip.html();
    tip.html(link.title || 'value: '+value);
    },
    callback: function(element,link){
    var tip = $('#clicked');
    tip[0].data = tip[0].data || tip.html();
    tip.html(link.title || 'value: '+value);
    },
    blur: function(value, link){
    var tip = $('#hover-rate');
    $('#hover-rate').html(tip[0].data || '');
    }
  });
});

</script>
<script>
$(function(){
  $('.hover-star8').rating({
    focus: function(value, link){
    var tip = $('#hover-rate');
    tip[0].data = tip[0].data || tip.html();
    tip.html(link.title || 'value: '+value);
    },
    callback: function(element,link){
    var tip = $('#clicked');
    tip[0].data = tip[0].data || tip.html();
    tip.html(link.title || 'value: '+value);
    },
    blur: function(value, link){
    var tip = $('#hover-rate');
    $('#hover-rate').html(tip[0].data || '');
    }
  });
});

</script>
<script>
$(function(){
  $('.hover-star9').rating({
    focus: function(value, link){
    var tip = $('#hover-rate');
    tip[0].data = tip[0].data || tip.html();
    tip.html(link.title || 'value: '+value);
    },
    callback: function(element,link){
    var tip = $('#clicked');
    tip[0].data = tip[0].data || tip.html();
    tip.html(link.title || 'value: '+value);
    },
    blur: function(value, link){
    var tip = $('#hover-rate');
    $('#hover-rate').html(tip[0].data || '');
    }
  });
});

</script>
<script>
$(function(){
  $('.hover-star10').rating({
    focus: function(value, link){
    var tip = $('#hover-rate');
    tip[0].data = tip[0].data || tip.html();
    tip.html(link.title || 'value: '+value);
    },
    callback: function(element,link){
    var tip = $('#clicked');
    tip[0].data = tip[0].data || tip.html();
    tip.html(link.title || 'value: '+value);
    },
    blur: function(value, link){
    var tip = $('#hover-rate');
    $('#hover-rate').html(tip[0].data || '');
    }
  });
});

</script>

<script>

var Change = function() {
	$('#ageSliderVal').html(a.getValue())
};

var a = $("#age").slider()
        .on('slide', Change)
        .data('slider');


</script>






</html>
